<div class="card widget" data-no-instant>
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">
            音乐
        </h3>
        <div id="aplayer" class="aplayer" data-id="2310452733" data-server="netease" data-type="playlist" data-mode="random" data-no-instant></div>
    </div>
</div>