<div class="card widget">
    <div class="card-content">
        <div class="menu">
        <h3 class="menu-label">
            说说
        </h3>
        <a class="twitter-timeline" data-height="1024" href="https://twitter.com/Milk_362?ref_src=twsrc%5Etfw" data-no-instant>
        此功能依赖于 Twitter 相关服务，正在加载中......<br>
        如果你身处中国大陆地区，并且长时间无法加载，这很正常，一定是因为你长得太帅了╮(￣▽￣"")╭
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>